doctype html
html(lang="en")
	include includes/head.pug
	body
		section.hero.is-full-height
			.hero-head
				include includes/nav.pug
			.hero-body
				.container.has-text-centered
					h1.title.is-1(style="padding-top: 3rem;") Clean Energy
			.hero-foot
		article.article
			include includes/body.pug
			+section("Your Clean Energy Report")
				p(style="color: green;") *Integers, please!
				//
				//
				// HEY BRANDON THIS IS DIZA
				// CAN U PLS FIGURE OUT IF
				// WE CAN TURN THESE INPUTS INTO
				// VARS AND PERFORM THESE OPERATIONS
				// AND PRINT THEM OUT FROM THE FORM
				// THX
				//
				//
				div.field
					h4 Total Household Energy Use:
					form(action="energy.php", method="_GET")
						.label How many are in your household?
							.control
								input(class="input", type="text", placeholder="2, 3, etc.", id="members")
								- var members = "[?]";
						br
						- var kwattperson = parseFloat(members)*51.3;
						h4 Our Estimate: 
						p(style="color: green") It costs the #{members} people living in your house #{kwattperson} to pay for electricity each month! Check our accuracy- compare this to your real monthly electricity bill. 
						.control
							input(type="submit", class="button is-success", onclick="members();")
						br
				div.field
					h4 Gas and Transportation:
					form(action="gas.php", method="_GET") 
						.label Your Make and Model:
						- var makenmodel = "[?]";
							.control
								input(class="input", type="text", placeholder="2008 Ford Escape, etc.")
						br
						.label Miles/Gallon (City):
						- var mipg = "[?]";
							.control
								input(class="input", type="text", placeholder="24, 25, etc.")
						br
						.label Dollars/Gallon:
						- var dollarsg = "[?]";
							.control
								input(class="input", type="text", placeholder="2.50, 3.00, etc.")
						br
						.label Your Average Miles/Day:
						- var mipday = "[?]";
							.control
								input(class="input", type="text", placeholder="35, 36, etc.")
						- var mipyr = parseFloat(mipday)*365;
						- var dollarsyr = parseFloat(mipyr)*parseFloat(mipg)*parseFloat(dollarsg);
						br
						h4 Your Spendings:
						p(style="color: green") You drive a #{makenmodel} and spend approximately #{dollarsyr} dollars annually on gas or fuel.
						br
						- var kgemissions = parseFloat(mipday)*.411*30;
						- 
						h4 Your Carbon Emissions:
						p(style="color: green") You contribute approximately #{kgemissions} kilograms of CO2 emission each month.
						.control
							input(type="submit", class="button is-success")
						br



		//- Footer
		include includes/footer.pug